<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" Type="text/css" th:href="@{css/miestilo.css}">
<title>Editar Mascotas</title>
</head>
<body>
	<form name="modificarmascotas" method="post"
		th:action="@{/savemascotas}" th:object="${mascotas}">
		<table>
			
			<tr>
				<td>Raza:</td>
				<td><input type="text" name="Raza" id="Raza" required
					th:value="*{Raza}">
			</tr>
			<tr>
				<td>Estado:</td>
				<td><input type="text" name="Estado" id="Estado" required
					th:value="*{Estado}">
			</tr>
			<tr>
				<td>Peso:</td>
				<td><input type="text" name="Peso" id="Peso" required
					th:value="*{Peso}">
			</tr>

			<tr>
				<td>Edad:</td>
				<td><input type="text" name="Edad" id="Edad" required
					th:value="*{Edad}">
			</tr>
			<tr>
				<td>Color:</td>
				<td><input type="text" name="Color" id="Color" required
					th:value="*{Color}">
			</tr>

			<tr>
				<td></td>
				<td><input type="hidden" name="cod" id="cod" th:value="*{Cod}"></td>
			
			<td></td>
			
			<td><input type="submit" value="Editar  Mascotas">
			</tr>

		</table>
	</form>
</body>
</html>